<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liberty Bot</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
    <!-- Chatbot-body -->
    <div id="chatbot-body" class="container">
      <!-- Header -->
      <div id="banner" class="container">
        <div id="icon-box">
          <div id="icon">
          </div>
        </div>
          
        <div id="banner-text">    
          &nbsp;Liberty    
        </div>
          
        <div id="minimize-box">          
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px" height="20px" onclick="alertfunc()">
            <g>
              <g>
                <path d="M416.666,0H95.332C42.766,0,0,42.767,0,95.334v321.332C0,469.233,42.766,512,95.332,512h321.334    C469.233,512,512,469.233,512,416.666V95.334C512,42.767,469.233,0,416.666,0z M400.6,271H111.398c-8.283,0-15-6.716-15-15    s6.717-15,15-15H400.6c8.285,0,15,6.716,15,15S408.885,271,400.6,271z" fill="grey"/>
              </g>
            </g>          
          </svg>
        </div>          
      </div>
      
      <!-- Chat-container body -->
      <div id="chat-area" class="container-fluid chat-container">
        
        <!-- Chat messages -->
        <!-- <div class="align-self-start chat-message bot-message" style="margin-top: 20px;">
          Hello! How can I help you?
        </div>
        
        <div class="chat-message bot-message">
          Pick a topic:
            <div class="menu-container">
                <div class="button-container">
                   <button>General</button>
                   <button>Benefits</button>
                   <button>Behavior</button>
                   <button>Disciplinary</button>
                   <button>Salary</button>
                </div>
            </div>
        </div>

        <div class="align-self-end chat-message human-message">
          umm hello!?
        </div>
      
        <div class="align-self-start chat-message bot-message">
          yoo
        </div> -->

      </div>

      <!-- Keyphrase suggestions -->
      <div id="keyphrase-area" class="container">
        keyphrase suggestions
      </div>

      <!-- Input area -->
      <!-- <div id="input-area" class="container"> -->
      <form id="target">
        <input class="input" type="text" value="" placeholder="Enter message..." id="input_message"/>
        <input type="submit" hidden>
      </form>
      <!-- </div>  -->

    </div>		
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="../static/custom.js"></script>
    <!-- <script src="{{ url_for('static', filename='custom.js')}}"></script> -->

	</body>
</html>